<footer class="footer page-footer font-small bg-dark text-white">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    <a href="https://www.jkoh.site" class="text-white">Main Website @ jkoh.site</a>
  </div>
  <!-- Copyright -->

</footer>