<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/css/ind-styles.css">
  <meta charset="UTF-8" />
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" type="image/jpg" href="/favicon.jpg">
  <script type="module" src="/collector.js"></script>
  <title>Error</title>

<body>
  <img id="flag" style="position:absolute;"src="/one.png" alt="">
  <div class="main">
    <p class="sign" align="center">Encountered Error</p>
    <form class="form1" id="login">
      <h3  class="log" align="center">
          You have encountered some sort of error. Please proceed back to Login.
      </h3>
  
      <a class="logout" align="center" href="/">Return To Login</a>
  </div>
</body>

</html>