<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/css/ind-styles.css">
  <meta charset="UTF-8" />
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" type="image/jpg" href="/favicon.jpg">

  <title>CSE 135 Logout</title>

<body>

  <div class="main">
    <p class="sign" align="center">Logged Out!</p>
    <form class="form1" id="login">
      <h3  class="log" align="center">You have successfully logged out. Please
        hit the button down below to go back to the login page.
      </h3>
  
      <a class="logout" align="center" href="/">Return To Login</a>
  </div>
  <script>

  </script>
</body>

</html>